i.icon {
    display: inline-block;
    vertical-align: middle;
    margin-right: 6px;
    background-image: url(../img/sprite.53796a2.png);
  
}
i.icon-account_brown {
    background-position: 0px -164px;
    width: 41px;
    height: 40px;
}
i.icon-account_gray {
    background-position: -41px -164px;
    width: 41px;
    height: 40px;
}
i.icon-add {
    background-position: 0px -388px;
    width: 21px;
    height: 22px;
}
i.icon-add_gray {
    background-position: -393px -307px;
    width: 24px;
    height: 24px;
}
i.icon-arrow-left-double {
    background-position: -361px -187px;
    width: 31px;
    height: 31px;
}
i.icon-arrow-left {
    background-position: -361px -94px;
    width: 31px;
    height: 31px;
}
i.icon-arrow-lg {
    background-position: -393px -60px;
    width: 26px;
    height: 29px;
}
i.icon-arrow-right-double {
    background-position: -361px -156px;
    width: 31px;
    height: 31px;
}
i.icon-arrow-right {
    background-position: -361px -63px;
    width: 31px;
    height: 31px;
}
i.icon-arrow-sm {
    background-position: -393px -89px;
    width: 25px;
    height: 25px;
}
i.icon-assignment {
    background-position: -198px 0px;
    width: 58px;
    height: 80px;
}
i.icon-attach-add {
    background-position: -361px -249px;
    width: 30px;
    height: 30px;
}
i.icon-attach {
    background-position: -361px -279px;
    width: 30px;
    height: 30px;
}
i.icon-available {
    background-position: -393px 0px;
    width: 30px;
    height: 30px;
}
i.icon-booking_icons_all_day_blue {
    background-position: 0px -307px;
    width: 35px;
    height: 34px;
}
i.icon-booking_icons_all_day_green {
    background-position: -70px -204px;
    width: 35px;
    height: 34px;
}
i.icon-booking_icons_all_day_grey {
    background-position: -245px -307px;
    width: 35px;
    height: 34px;
}
i.icon-booking_icons_all_day_orange {
    background-position: -280px -307px;
    width: 35px;
    height: 34px;
}
i.icon-booking_icons_all_day_red {
    background-position: -105px -204px;
    width: 35px;
    height: 34px;
}
i.icon-booking_icons_bar_blue {
    background-position: -140px -204px;
    width: 35px;
    height: 34px;
}
i.icon-booking_icons_bar_green {
    background-position: -175px -204px;
    width: 35px;
    height: 34px;
}
i.icon-booking_icons_bar_grey {
    background-position: -210px -204px;
    width: 35px;
    height: 34px;
}
i.icon-booking_icons_bar_orange {
    background-position: -256px 0px;
    width: 35px;
    height: 34px;
}
i.icon-booking_icons_bar_red {
    background-position: -256px -34px;
    width: 35px;
    height: 34px;
}
i.icon-booking_icons_chinese_blue {
    background-position: -256px -68px;
    width: 35px;
    height: 34px;
}
i.icon-booking_icons_chinese_green {
    background-position: -256px -102px;
    width: 35px;
    height: 34px;
}
i.icon-booking_icons_chinese_grey {
    background-position: -256px -136px;
    width: 35px;
    height: 34px;
}
i.icon-booking_icons_chinese_orange {
    background-position: -256px -170px;
    width: 35px;
    height: 34px;
}
i.icon-booking_icons_chinese_red {
    background-position: -256px -204px;
    width: 35px;
    height: 34px;
}
i.icon-booking_icons_coach_green {
    background-position: 0px -239px;
    width: 35px;
    height: 34px;
}
i.icon-booking_icons_coach_grey {
    background-position: -35px -239px;
    width: 35px;
    height: 34px;
}
i.icon-booking_icons_coach_orange {
    background-position: -70px -239px;
    width: 35px;
    height: 34px;
}
i.icon-booking_icons_coach_purple {
    background-position: -105px -239px;
    width: 35px;
    height: 34px;
}
i.icon-booking_icons_coach_red {
    background-position: -140px -239px;
    width: 35px;
    height: 34px;
}
i.icon-booking_icons_course_green {
    background-position: -175px -239px;
    width: 35px;
    height: 34px;
}
i.icon-booking_icons_course_grey {
    background-position: -210px -239px;
    width: 35px;
    height: 34px;
}
i.icon-booking_icons_course_orange {
    background-position: -245px -239px;
    width: 35px;
    height: 34px;
}
i.icon-booking_icons_course_purple {
    background-position: -291px 0px;
    width: 35px;
    height: 34px;
}
i.icon-booking_icons_course_red {
    background-position: -291px -34px;
    width: 35px;
    height: 34px;
}
i.icon-booking_icons_fivelement_blue {
    background-position: -291px -68px;
    width: 35px;
    height: 34px;
}
i.icon-booking_icons_fivelement_green {
    background-position: -291px -102px;
    width: 35px;
    height: 34px;
}
i.icon-booking_icons_fivelement_grey {
    background-position: -291px -136px;
    width: 35px;
    height: 34px;
}
i.icon-booking_icons_fivelement_orange {
    background-position: -291px -170px;
    width: 35px;
    height: 34px;
}
i.icon-booking_icons_fivelement_red {
    background-position: -291px -204px;
    width: 35px;
    height: 34px;
}
i.icon-booking_icons_golf_blue {
    background-position: -291px -238px;
    width: 35px;
    height: 34px;
}
i.icon-booking_icons_golf_green {
    background-position: 0px -273px;
    width: 35px;
    height: 34px;
}
i.icon-booking_icons_golf_grey {
    background-position: -35px -273px;
    width: 35px;
    height: 34px;
}
i.icon-booking_icons_golf_orange {
    background-position: -70px -273px;
    width: 35px;
    height: 34px;
}
i.icon-booking_icons_golf_red {
    background-position: -105px -273px;
    width: 35px;
    height: 34px;
}
i.icon-booking_icons_guestroom_green {
    background-position: -140px -273px;
    width: 35px;
    height: 34px;
}
i.icon-booking_icons_guestroom_grey {
    background-position: -175px -273px;
    width: 35px;
    height: 34px;
}
i.icon-booking_icons_guestroom_orange {
    background-position: -210px -273px;
    width: 35px;
    height: 34px;
}
i.icon-booking_icons_guestroom_purple {
    background-position: -245px -273px;
    width: 35px;
    height: 34px;
}
i.icon-booking_icons_guestroom_red {
    background-position: -280px -273px;
    width: 35px;
    height: 34px;
}
i.icon-booking_icons_royal_green {
    background-position: -326px 0px;
    width: 35px;
    height: 34px;
}
i.icon-booking_icons_royal_grey {
    background-position: -326px -34px;
    width: 35px;
    height: 34px;
}
i.icon-booking_icons_royal_orange {
    background-position: -326px -68px;
    width: 35px;
    height: 34px;
}
i.icon-booking_icons_royal_purple {
    background-position: -326px -102px;
    width: 35px;
    height: 34px;
}
i.icon-booking_icons_royal_red {
    background-position: -326px -136px;
    width: 35px;
    height: 34px;
}
i.icon-booking_icons_tennis_green {
    background-position: -326px -170px;
    width: 35px;
    height: 34px;
}
i.icon-booking_icons_tennis_grey {
    background-position: -326px -204px;
    width: 35px;
    height: 34px;
}
i.icon-booking_icons_tennis_orange {
    background-position: -326px -238px;
    width: 35px;
    height: 34px;
}
i.icon-booking_icons_tennis_purple {
    background-position: -326px -272px;
    width: 35px;
    height: 34px;
}
i.icon-booking_icons_tennis_red {
    background-position: -210px -307px;
    width: 35px;
    height: 34px;
}
i.icon-booking_icons_wellness_blue {
    background-position: -35px -307px;
    width: 35px;
    height: 34px;
}
i.icon-booking_icons_wellness_green {
    background-position: -70px -307px;
    width: 35px;
    height: 34px;
}
i.icon-booking_icons_wellness_grey {
    background-position: -105px -307px;
    width: 35px;
    height: 34px;
}
i.icon-booking_icons_wellness_orange {
    background-position: -140px -307px;
    width: 35px;
    height: 34px;
}
i.icon-booking_icons_wellness_red {
    background-position: -175px -307px;
    width: 35px;
    height: 34px;
}
i.icon-calendar {
    background-position: 0px -366px;
    width: 22px;
    height: 22px;
}
i.icon-card {
    background-position: 0px -341px;
    width: 40px;
    height: 25px;
}
i.icon-card_selected {
    background-position: -40px -341px;
    width: 40px;
    height: 25px;
}
i.icon-cart {
    background-position: -22px -366px;
    width: 23px;
    height: 21px;
}
i.icon-close {
    background-position: -423px -144px;
    width: 16px;
    height: 16px;
}
i.icon-course_green {
    background-position: -45px -366px;
    width: 24px;
    height: 20px;
}
i.icon-course_grey_pc {
    background-position: -138px -128px;
    width: 45px;
    height: 33px;
}
i.icon-course_orange {
    background-position: -93px -366px;
    width: 24px;
    height: 20px;
}
i.icon-course_purple {
    background-position: -69px -366px;
    width: 24px;
    height: 20px;
}
i.icon-course_red_pc {
    background-position: -93px -128px;
    width: 45px;
    height: 33px;
}
i.icon-courses {
    background-position: 0px -128px;
    width: 50px;
    height: 36px;
}
i.icon-dinning_confirm_purple {
    background-position: -393px -114px;
    width: 25px;
    height: 25px;
}
i.icon-dinning_gray {
    background-position: -423px -22px;
    width: 20px;
    height: 21px;
}
i.icon-dinning_orange {
    background-position: -423px 0px;
    width: 20px;
    height: 22px;
}
i.icon-download_IOS {
    background-position: 0px -64px;
    width: 180px;
    height: 64px;
}
i.icon-download_android {
    background-position: 0px 0px;
    width: 198px;
    height: 64px;
}
i.icon-edit {
    background-position: -393px -30px;
    width: 27px;
    height: 30px;
}
i.icon-edit_brown {
    background-position: -423px -65px;
    width: 19px;
    height: 21px;
}
i.icon-edit_green {
    background-position: -423px -43px;
    width: 19px;
    height: 22px;
}
i.icon-envelope {
    background-position: -217px -341px;
    width: 26px;
    height: 18px;
}
i.icon-expand {
    background-position: -423px -191px;
    width: 14px;
    height: 14px;
}
i.icon-forbidden {
    background-position: -21px -388px;
    width: 21px;
    height: 21px;
}
i.icon-full_srceen {
    background-position: -198px -80px;
    width: 50px;
    height: 43px;
}
i.icon-golf_bay_green {
    background-position: -393px -139px;
    width: 26px;
    height: 24px;
}
i.icon-golf_bay_orange {
    background-position: -393px -163px;
    width: 26px;
    height: 24px;
}
i.icon-golf_bay_purple {
    background-position: -393px -187px;
    width: 26px;
    height: 24px;
}
i.icon-guest_room_green {
    background-position: -157px -341px;
    width: 30px;
    height: 18px;
}
i.icon-guest_room_orange {
    background-position: -187px -341px;
    width: 30px;
    height: 18px;
}
i.icon-guest_room_purple {
    background-position: -127px -341px;
    width: 30px;
    height: 18px;
}
i.icon-help {
    background-position: -423px -160px;
    width: 16px;
    height: 16px;
}
i.icon-history {
    background-position: -162px -164px;
    width: 40px;
    height: 37px;
}
i.icon-history_selected {
    background-position: -202px -164px;
    width: 40px;
    height: 37px;
}
i.icon-light {
    background-position: -423px -176px;
    width: 15px;
    height: 15px;
}
i.icon-not_available {
    background-position: -361px -309px;
    width: 30px;
    height: 30px;
}
i.icon-popup_close_btn {
    background-position: -315px -307px;
    width: 33px;
    height: 33px;
}
i.icon-private_coach {
    background-position: -50px -128px;
    width: 43px;
    height: 36px;
}
i.icon-profile-gray {
    background-position: -423px -125px;
    width: 19px;
    height: 19px;
}
i.icon-profile {
    background-position: -423px -106px;
    width: 19px;
    height: 19px;
}
i.icon-refresh {
    background-position: -361px -218px;
    width: 31px;
    height: 31px;
}
i.icon-remove {
    background-position: -361px -125px;
    width: 31px;
    height: 31px;
}
i.icon-remove_red {
    background-position: -104px -341px;
    width: 23px;
    height: 24px;
}
i.icon-restaurant_red {
    background-position: -423px -86px;
    width: 19px;
    height: 20px;
}
i.icon-scan {
    background-position: -229px -128px;
    width: 24px;
    height: 24px;
}
i.icon-search-2 {
    background-position: -393px -283px;
    width: 24px;
    height: 24px;
}
i.icon-search {
    background-position: -361px -32px;
    width: 31px;
    height: 31px;
}
i.icon-sort {
    background-position: -42px -388px;
    width: 21px;
    height: 21px;
}
i.icon-submit {
    background-position: -361px 0px;
    width: 32px;
    height: 32px;
}
i.icon-subtract_gray {
    background-position: -80px -341px;
    width: 24px;
    height: 24px;
}
i.icon-tennis_court_green {
    background-position: -393px -211px;
    width: 26px;
    height: 24px;
}
i.icon-tennis_court_orange {
    background-position: -393px -235px;
    width: 26px;
    height: 24px;
}
i.icon-tennis_court_purple {
    background-position: -393px -259px;
    width: 26px;
    height: 24px;
}
i.icon-tennis_grey_pc {
    background-position: -35px -204px;
    width: 35px;
    height: 35px;
}
i.icon-tennis_red_pc {
    background-position: 0px -204px;
    width: 35px;
    height: 35px;
}
i.icon-tips {
    background-position: -393px -331px;
    width: 24px;
    height: 24px;
}
i.icon-transaction_brown {
    background-position: -122px -164px;
    width: 40px;
    height: 40px;
}
i.icon-transaction_gray {
    background-position: -82px -164px;
    width: 40px;
    height: 40px;
}
i.icon-users {
    background-position: -183px -128px;
    width: 46px;
    height: 30px;
}
